@model SchoolManagement.Data.Lecture

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Subject
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            Teacher
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>


        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>

        <dt>
            Start Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            End Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>


        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            Created Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            Last Modified By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            Last Modified Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            Class
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.Class)
        </dd>

        <dt>
            Div
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.Div)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
