@model SchoolManagement.Data.Lecture

@{
    ViewBag.Title = "Details";
}
 
<div>
    <h4>Lecture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Subject
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>

        <dt>
            Teacher
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>

        <dt>
            Start Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            End Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            Duration
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>

        <dt>
            Class
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.Class)
        </dd>

        <dt>
            Div
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch.Div)
        </dd>


    </dl>
</div>
<div>
    <button class="btn btn-sm btn-outline-secondary">
        @Html.ActionLink("Back", "Index", null, new { id = Model.Id, style = "text-decoration:none; color: black;" })
    </button>
</div>
